*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color : hsl(320, 60%, 70%);
    --light-main-color : hsl(320, 60%, 90%);
    --text-color: hsl(320, 50%, 95%);
    --sub-color : hsl(200, 70%, 50%) ;
    --light-sub-color : hsl(200, 70%, 80%);
}

html{
    background-color: #121212;
}

body{
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    margin: auto;
    background-color: #282828;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4vmin;
}

.menu{
    min-width: 70px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    font-size: 24px;
}

.nav-logo{
    color: var(--light-sub-color);
    font-size: 4.5vmin;
    width: 15%;
}

.app-name{
    color: var(--sub-color);
    font-size: 4vmin;
    font-weight: bold;
    width: 10%;
}

.nav-logo:hover{
    cursor: pointer;
}

.settings:hover, .stats:hover{
    cursor: pointer;
}

.score{
    color: var(--text-color);
}

.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height : calc(100vh - 105px)
}

.inner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.undo-btn{
    padding: 10px 15px;
    background-color: #282828;
    color: var(--text-color);
    border: none;
    font-size: 18px;
}

.undo-btn:active{
    transform: scale(0.8);
}

.undo-btn:hover{
    cursor: pointer;
}

#game-board{
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    padding: var(--cell-gap);
    gap: var(--cell-gap);
    position: relative;
}

.cell{
    background-color: #555;
    border-radius: 1vmin;
}

.tile{
    position: absolute;
    font-weight: bold;
    font-size: 8vmin;
    color: hsl(120, 25%, var(--text-lightness));
    background-color: hsl(200, 70%, var(--background-lightness));
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    border-radius: 1vmin;
    top: calc((var(--y) * var(--cell-size)) + (var(--cell-gap) * (var(--y) + 1)));
    left: calc((var(--x) * var(--cell-size)) + (var(--cell-gap) * (var(--x) + 1)));
    transition: all .12s ease-in-out;
    animation : appear .2s ease-in forwards;
}

@keyframes appear {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}
